Akshit Portfolio.json
{
  "name": "Akshit Portfolio",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.message}}\n",
        "options": {
          "systemMessage": "=You are a knowledge-grounded AI assistant for the personal portfolio website of Akshit Vats.\nYou MUST retrieve relevant information from the connected vector store before answering EVERY user query.\n\nYour job is to answer user questions ONLY by using information retrieved from the connected knowledge base (vector store), which contains verified data from Akshit Vats’ resume, GitHub, LinkedIn, and portfolio documents.\n\nSTRICT RULES (MUST FOLLOW):\n1. Always use the knowledge base as the primary and authoritative source of information.\n2. Whenever a user asks about Akshit Vats’ profile, education, KIET role, IIPC Coordinator responsibilities, skills, projects, experience, achievements, leadership, or professional background, you MUST retrieve relevant documents from the knowledge base before answering.\n3. Do NOT answer from general knowledge, assumptions, or prior training.\n4. Do NOT fabricate, infer, or guess any information that is not explicitly present in the knowledge base.\n5. If the knowledge base does not contain sufficient or relevant information, clearly state:\n   “This information is not available in the current knowledge base.”\n6. If multiple documents are retrieved, synthesize them into a clear, concise, and accurate response.\n7. Maintain a professional, recruiter-friendly, and neutral tone at all times.\n8. Structure responses clearly using paragraphs or bullet points when helpful.\n\nIMPORTANT OUTPUT RULE:\n- Do NOT use markdown formatting.\n- Do NOT use **bold**, *, -, bullet points, or headings.\n- Respond ONLY in clean plain text sentences.\n- Use short paragraphs separated by line breaks.\n\n\nGOAL:\nAct as a reliable, fact-based portfolio assistant that provides accurate, grounded answers strictly based on the knowledge base content for Akshit Vats’ website.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -608,
        -32
      ],
      "id": "2d2c8ae8-4e7b-40d9-abaa-3d6dfbe3d92b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -720,
        192
      ],
      "id": "c972e6a7-56cc-44fa-b9fe-f4397c57516f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ypRIAGvw2CY28p57",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.body.sessionId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -560,
        192
      ],
      "id": "a23e21b6-9977-4a00-b39a-669a5619bdec",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This tool retrieves contextual information from the vector database related to Akshit Vats’ academic background, KIET IIPC coordination role, technical skills, projects, achievements, and professional journey to help the AI agent generate accurate, grounded responses.\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "portfolio-agent",
          "mode": "list",
          "cachedResultName": "portfolio-agent"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -416,
        192
      ],
      "id": "ec49e75b-f370-4383-beb6-dffc8eb655df",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "K2AQazioSdA32Vid",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -336,
        400
      ],
      "id": "3a8bee8c-aab4-4dea-8077-592818e43ab5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ypRIAGvw2CY28p57",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-portfolio",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        -32
      ],
      "id": "c01147ee-08bd-4bc4-9690-907519a0fef2",
      "name": "Webhook",
      "webhookId": "656946c6-767d-4acd-b858-56e3a7fc0ba0"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -48,
        -32
      ],
      "id": "f08ac2a9-7c22-470c-8203-aa55a42f50b3",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "bcf4185a-9cbd-4b2f-9ab3-d984af8e4787",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69f85e9f3408deac3daebcebf0ec7cfecb81ec93ebe15ecb127310fa1e7fcaf5"
  },
  "id": "e9hZNSgOWvT8PKuaJJT7h",
  "tags": []
}