Event Scheduler and retrivel.json
{
  "name": "Event Scheduler and retrivel",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.tasks }}",
        "options": {
          "systemMessage": "=You are a helpful assistant\nTime Now {{ $now }}\n\n##RULES\nAll dates must be structured accord to this structure:02/20/2025.In other words,it must be MM/DD/YYYY"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        656,
        -112
      ],
      "id": "dc044033-e5e1-46b6-8c27-97f8f14c6430",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.tasks }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        528,
        240
      ],
      "id": "e7dacaa3-f151-4319-a19a-c82a323a3d41",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "akshitvats026@gmail.com",
          "mode": "list",
          "cachedResultName": "akshitvats026@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `This is the start time of the event `, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `This is the end time of the event `, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `This is the summary/title of the event `, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        720,
        160
      ],
      "id": "503f0de2-518f-470c-bbd9-323e96bc4b96",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "31QaI6qWfcR8tMdv",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "akshitvats026@gmail.com",
          "mode": "list",
          "cachedResultName": "akshitvats026@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `This is the time the user wants to search for events past`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `This is the time the user wants to search for events before`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        960,
        144
      ],
      "id": "e9811d45-79a3-4bac-99bf-2994a72465fd",
      "name": "Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "31QaI6qWfcR8tMdv",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qZrBRwkUj_GgfUZmiTdn4ki4L-CWEjTCGZnYMezVz5U",
          "mode": "list",
          "cachedResultName": "Test-01",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qZrBRwkUj_GgfUZmiTdn4ki4L-CWEjTCGZnYMezVz5U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15CqsyX8Hx9MggmFrTaZblViAj7LiuSvGtF8NIrbPtMQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "DueDate",
              "lookupValue": "={{ $fromAI(\"dueDate\",\"The date date of the task is due on\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1312,
        128
      ],
      "id": "25592430-ebf5-4ffc-9245-a0df1a71b531",
      "name": "Retrive the Events from the sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MH09SFSVTyhb3vOH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qZrBRwkUj_GgfUZmiTdn4ki4L-CWEjTCGZnYMezVz5U",
          "mode": "list",
          "cachedResultName": "Test-01",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qZrBRwkUj_GgfUZmiTdn4ki4L-CWEjTCGZnYMezVz5U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15CqsyX8Hx9MggmFrTaZblViAj7LiuSvGtF8NIrbPtMQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TaskName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TaskName', `this is the name of the task`, 'string') }}",
            "Description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `this is the description of the task`, 'string') }}",
            "DueDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('DueDate', `this is the dueDate of the task`, 'string') }}",
            "Priority": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Priority', `this is the priority of the task.Please choose the priority from this list:Low,Medium,High.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TaskName",
              "displayName": "TaskName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DueDate",
              "displayName": "DueDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1120,
        128
      ],
      "id": "6250b5b5-5b58-407f-bac0-36d42b546263",
      "name": "Google Sheets Append the events",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MH09SFSVTyhb3vOH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        368,
        -112
      ],
      "id": "49a73bb8-9d22-4f5c-9771-7d7d786947ca",
      "name": "Webhook",
      "webhookId": "3384df91-dc0b-4d07-9acc-13efa5a904d9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1008,
        -112
      ],
      "id": "9331451e-dee5-4a63-b62d-5d62e94d8550",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        320,
        160
      ],
      "id": "a5011368-6f68-48c1-8991-d3ea610f786e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tQOgsTnqhUZNlF6d",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Retrive the Events from the sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Append the events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3b82bc16-7ddf-4934-b7c8-07b19b8073a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4516c343933f3411eda3a78d1d1597b5230f1d82cd623a70a6b6f0e7d58eb0ba"
  },
  "id": "OI3iUWD7iKnXaug9G-sC2",
  "tags": []
}