My Portfolio Agent.json
{
  "name": "My Portfolio Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1jatkJUO-wM-G_w6VapmaGFrfdJHDdwVS",
          "mode": "list",
          "cachedResultName": "Portfolio Knowledge base",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1jatkJUO-wM-G_w6VapmaGFrfdJHDdwVS"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        80
      ],
      "id": "59c6f69b-10c6-45b2-a49d-9c9f807fdb46",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wevTwZsilaywQnmI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -672,
        80
      ],
      "id": "b88f3d54-8364-4367-b0a5-445a725f5018",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wevTwZsilaywQnmI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $('Download file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -320,
        304
      ],
      "id": "6a215a15-2e69-4114-aae6-188ed30abc58",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -240,
        512
      ],
      "id": "889a36ac-e909-4ce3-9dbd-153e7f6e1a89",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "portfolio-agent",
          "mode": "list",
          "cachedResultName": "portfolio-agent"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -416,
        80
      ],
      "id": "e6a20fb2-7a47-4d30-9ce7-81ba13b8c617",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "AHr2u2Un7Lqbex8d",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -448,
        304
      ],
      "id": "62909b9e-89cc-423c-87d2-5f3fbb03813c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ypRIAGvw2CY28p57",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "fca9565e-9670-49d3-bde4-906a355ec834",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69f85e9f3408deac3daebcebf0ec7cfecb81ec93ebe15ecb127310fa1e7fcaf5"
  },
  "id": "ROuq-lUQTFTy23ZJkFjGb",
  "tags": []
}